:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

.headerTable {
    color: darkred;
    border-bottom: 5px solid black;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.websiteheader {
  font-size: 4rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #5289c6; /* dark gray */
  color: white;
}
