<nav class="navbar">
  <div class="brand">Invoice System</div>

  <ul class="nav-links">
    <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
    <li><a routerLink="/invoices" routerLinkActive="active">Invoices</a></li>
  </ul>
</nav>

<table *ngIf="customers.length > 0">
  <thead>
    <tr  class="headerTable">
      <th>Name</th>
      <th>Billing Address</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of customers">
      <td>{{ c.name }}</td>
      <td>{{ c.billingAddress }}</td>
      <td>{{ c.email }}</td>
    </tr>
  </tbody>
</table>

<!-- Optional: show message if no customers -->
<p *ngIf="customers.length === 0">No customers available.</p>
